@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


:root {
  direction: rtl;
}

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode styles */
.dark body {
  background-color: #1f2937;
  color: #f9fafb;
}
.dark .bg-gray-100 {
  background-color: #111827 !important;
}
.dark .text-gray-800 {
  color: #f9fafb !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 